<footer class="footer">
    <nav class="container">
        <div class="container-menu">
            <div class="menu left">
            </div>
            <div class="menu center">  
               <div class="menu-item-2"><a href="/signupKartograf" class="unos">Become a member of our team</a></div>
            </div>
            <div class="menu right">     
            </div>
          </div>
      </nav>
</footer>