<header class="header">
    <nav class="container">
        <div class="container-menu">
            <div class="menu left">
                <img class="logo-image" src="../images/kompas.png" alt="Geo Fighter">
                <p class="nameGame "><b>
                        <font color="#006400"> Geo</font>Fighter
                    </b></p>
            </div>
            <div class="menu center">
                <img class="fer-logo-image " src="../images/FER_logo.png" alt="Geo Fighter">
            </div>
            <div class="menu right">
                <div class="menu-item"><a href="/login " class="unos">Login</a></div>

                <div class="menu-item"><a href="/signup" class="unos">Sign up</a></div>
            </div>
        </div>
    </nav>
</header>