<header class="header">
    <nav class="container">
        <div class="container-menu">
            <div class="menu right">
                <a href="/"><img class="logo-image" src="../images/kompas.png" alt="Geo Fighter"></a>
            </div>
            <div class="menu left " style="width: 76% ; margin-left:5%;">

                <p class="nameGame marginOFF"><b style="font-size: 80px;">
                        <font color="#006400"> Geo</font>Fighter
                    </b></p>
            </div>

        </div>
    </nav>
</header>