<!DOCTYPE html>
<html>

<head>


    <title><%= title %></title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="./styles/main.css">

</head>

<body class="background">
    <%- include(`partials/header`); %>
    <%- include(`partials/footer`); %>
    <main class="main">
        <div class="container-2">
            <img src="https://www.transparentpng.com/thumb/scroll/scroll-png-icons-clipart-png-35.png"
                alt="scroll png icons clipart png @transparentpng.com">
            <div class="centered">
                <h1>
                    How to play
                </h1>
                <p>
                    It's very simple. All you need is to walk
                    around and collect cards from various kinds
                    of places and then you use the same
                    cards to battle your opponents in battle to
                    advance on the ladder to claim the top spot
                </p>
            </div>
        </div>
    </main>

</body>

</html>