<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/styles/edit.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

</head>

<body class="background-rezultat">
    <main class="tekst-rezultat">
       NAZALOST, IZGUBILI STE U DVOBOJU!
       <br>
       <a href="/igrac/borba"><button class="btn btn-light">Povratak</button></a>
    </main>

</body>

</html>